extends layout.pug 
block content 
    h1 This is index page 
    h2 Click other button to change to different page 
    a(href='/location') Danh sách vị trí
    a(href='/car') Danh sách xe 
    a(href='/policy') Danh sách điều khoản 
    br
    a(href='/location/create') Thêm vị trí mới 
    a(href='/car/create') Thêm xe mới 
    a(href='/policy/create')