form(action="", method="post") 
    input(type="text", name="id")
    input(type="text",name="country")
    input(type="text",name="city")
    input(type="text",name="province")
    button(type="submit") submit